/* General Styles */
body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f8f9fa;
    background-image: url(../images/background.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #333;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease;
}
